// Homepage block template styles
.directory-header {
	.container {
		align-items: center;
		display: flex;
		flex-direction: column;

		.mockup-block {
			align-items: flex-end;
			background-color: lightblue;
			display: flex;
			justify-content: flex-end;
			height: 300px;			
			width: 100%;

			a {
				margin: 0 1.5rem 1.5rem 0;

			}
		}
	}
}

// Directory main page styles

.directory {
	.container {
		align-items: center;
		display: flex;		
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;

		h2, h4, h5 {
			text-transform: uppercase;
		}

		.row {
			display: flex;
		}

		.column {
			display: flex;
			flex-direction: column;

			.catalogues {
				display: flex;
				justify-content: space-around;
			}
		}
	}
}