

.teams {
	.container {
		margin: 2.5rem auto;

		.slide {
			align-items: center;
			border: 2px solid black;
			display: flex;
			overflow: hidden;
			width: 100%;

			.side-divider {
				color: $teal;
				font-size: 6rem;

				&:last-child, &:nth {
					display: none;
				}
			}
		}
	}
}

.teams, .data-leads-teams {
	.team-logo {
		border: 1px solid black;
		border-radius: 99px;
		max-width: 70px;
		min-width: 9%;
		width: 100%;
	}
}