.workshops {
	.container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

  li {
    list-style: none;
  }

  .filters {
    display: flex;
		justify-content: space-around;
		width: 100%;
  }

  .filters,
  .workshops-container {
    margin-bottom: 1.5rem;
  }

  .date {
    font-size: 0.9rem;
    font-weight: 500;
  }

  & > p {
    width: 80%;
  }

  .workshops-heading {
    align-items: center;
    display: flex;
		flex-direction: column;
		width: 80%;
  }
  .workshops-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;

    .upcoming-workshops,
    .past-workshops {
			align-items: center;
      flex-direction: column;
      min-width: 50%;
    }
  }
}
