.footer {
  color: $white;
  margin-top: auto;
  top: 6rem;

  .container {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin: 2rem auto;

    a {
      color: $teal;
    }
  }
}


