.header {
	align-items: center;
	display: flex;
	justify-content: center;

	.container {
		align-items: center;
		display: flex;
		flex-direction: column;
    justify-content: center;
    
    .data-lab-intro-text {
      color: white;
      max-width: 351px;
      width: 50%;
    }

    .call-to-action-link {
      background-color: $dark-orange;
      font-weight: 700;
      border-radius: 5px;
      color: #fff;
      padding: .5rem;
    }
	}
}

// @media (max-width: 992px) {
// 	.hero { 

// 	}
// }


// @media (max-width: 880px) {
// 	.hero {

// 	}
// }

// @media (max-width: 767px) {
// 	.hero {
// 	}
// }