.hero {
	align-items: center;
	background-color: $gray;
	display: flex;
	justify-content: center;

	.hero-nav-links {
		margin-top: 1.5rem;
		margin-bottom: 2.5rem;

		a {
			color: $white;
			font-size: 1.75rem;
		}
	}

	.container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}



@media (max-width: 880px) {
	.hero-with-navbar {
		top: calc(6rem + 23px);
	}
}

@media (max-width: 767px) {
	.hero-with-navbar {
		top: calc(6rem + 3px);
	}
}