{{- define "main" -}}
<main class="with-fixed-navbar">
	<section class="workshops">
		<div class="container">
			<div class="workshops-heading">
				<h1 >{{ .Site.Params.WorkshopsSectionLabel }}</h1>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptas aut delectus numquam iure 
						itaque, dignissimos consequuntur perspiciatis at ipsa accusamus sapiente minima tempora commodi 
						laudantium! Et aliquam vitae beatae?
				</p>
				<div class="filters">
					<select id="filter-date" class="filter-select" value-group="">
						<option value="Upcoming">Upcoming</option>
						<option value="Past">Past</option>
					</select>
					<select id="filter-workshop-type" class="filter-select" value-group="workshop-type">
							{{ range $name, $taxonomy := .Site.Taxonomies.workshop_types }}
								<option value =".{{ $name| urlize }}"> {{ replace $name "-" " " | title }}</option>
							{{ end }}
					</select>
			</div>
			</div>
	

		<div class="workshops-container">
			{{- range $key, $taxonomy := .Site.Taxonomies.workshop_types -}}
				{{- range $taxonomy -}}
				<li aria-hidden="true">
					<h2>{{- .Title -}}</h2>
					<h3>Scheduled: <small class="date">{{- .Params.scheduled_date -}}</small></h3>
					<p>{{- .Content -}}</p>
				</li>
				{{- end -}}
			{{- end -}}
			<div class="upcoming-workshops">
					<h2>Upcoming Workshops</h2>
				<ul class="upcoming-workshops-list">
				</ul>
			</div>
			<div class="past-workshops">
					<h2>Past Workshops</h2>
				<ul class="past-workshops-list">
				</ul>
			</div>
		</div>
	</section>
</main>
{{ end }} 