{{ define "about" }}
 <section class="page-section bg-primary text-white mb-0" id="about">
	<div class="container">

		<!-- About Section Heading -->
		<h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

		<!-- Icon Divider -->
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>

		<!-- About Section Content -->
		<div class="row">
			<div class="col-lg-4 ml-auto">
				<p class="lead">The WB Data Lab is a community of practice for colleagues seeking to modernize project data practices through learning, networking, and shared resources.</p>
				<p class="lead">Lab members are eager to learn, build new skills, and support each other.</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">This is your platform for testing and scaling big ideas. Want to crowdfund something? Got a great SDG or ESF indicator method to test? Want to form a partnership? Organize a
					training? This is your network.</p>
				<p class="lead">The Lab is also your chance to meet colleagues across the organization -- from DEC, ITS, and our Global Practices -- through engaging activities.</p>
			</div>
		</div>

		<!-- About Section Button -->
		<div class="text-center mt-4">
			<a class="btn btn-xl btn-outline-light" href="mailto: datalab@worldbank.org">
				<i class="fas fa-user-plus"></i>
				Join Today!
			</a>
		</div>
		</div>
	</section>
{{ end }}