{{- define "activities" -}}
<section class="activities">
	<div class="container">
		<h1>Data Lab Activities</h1>
		<div class="honeycomb">
			<div class="row">
				<div class="hexagon light-orange-hexagon" aria-hidden="true">
					<span></span>
				</div>
				<a href="{{ .Site.Params.DataLeadsLink }}">
					<div class="hexagon light-orange-hexagon">
						<span>Data Leads</span>
					</div>
				</a>
			 	<div class="hexagon dark-orange-hexagon">
					<span>Development Data Partnership</span>
				</div>
				<div class="hexagon dark-orange-hexagon">
					<span>University Data Fellows</span>
				</div>
				<div class="hexagon dark-orange-hexagon" aria-hidden="true">
					<span></span>
				</div>
				<div class="hexagon blue-hexagon">
					<span>Skill Badges</span>
				</div>
			</div>
			<div class="row">
				<div class="hexagon light-orange-hexagon">
					<span>Data Corps</span>
				</div>
				<div class="hexagon light-orange-hexagon">
					<span>Data Resources</span>
				</div>
				<div class="hexagon dark-orange-hexagon" aria-hidden="true">
					<span></span>
				</div>
				<div class="hexagon dark-orange-hexagon">
					<span>UN Focus Point</span>
				</div>
				<div class="hexagon blue-hexagon">
					<span>Workshops</span>
				</div>
				<div class="hexagon blue-hexagon">
					<span>Training</span>
				</div>
			</div>
		</div>
	</div>
</section>
{{- end -}}