{{ define "workshops" }}
<section class="workshops">
  <div class="container">
		<div class="filters">
        <select id="filter-date" class="filter-select" value-group="">
					<option value="Upcoming">Upcoming</option>
					<option value="Past">Past</option>
        </select>
			{{/*  {{ range $name, $taxonomy := .Site.Taxonomies.Workshop_types }}
							{{ range where $taxonomy "workshop_types" "==" "clinics" }}
            	<option value =".{{ $name | urlize }}"> {{ replace $name "-" " " | title }}</option>
							{{ end }}
						{{ end }}  */}}
        <select id="filter-workshop-type" class="filter-select" value-group="workshop-type">
            {{ range $name, $taxonomy := .Site.Taxonomies.workshop_types }}
            	<option value =".{{ $name| urlize }}"> {{ replace $name "-" " " | title }}</option>
            {{ end }}
        </select>
		</div>

		<div class="workshops-container">
			{{- range $key, $taxonomy := .Site.Taxonomies.workshop_types -}}
				{{- range $taxonomy -}}
				<li aria-hidden="true">
					<h2>{{- .Title -}}</h2>
					<h3>Scheduled: <small class="date">{{- .Params.scheduled_date -}}</small></h3>
					<p>{{- .Content -}}</p>
				</li>
				{{- end -}}
			{{- end -}}

			<div class="upcoming-workshops">
				{{/*  {{ if ge .Site.Taxonomies.workshop_types.Date.Unix now.Unix }}  */}}
					<h2>Upcoming Workshops</h2>
				{{/*  {{ end }}   */}}
				<ul class="upcoming-workshops-list">
			</ul>
			</div>
			<div class="past-workshops">
					<h2>Past Workshops</h2>
				{{/*  Loops through all workshop_types  */}}
				<ul class="past-workshops-list">
		

			</ul>
			</div>
		</div>
  </div>
</section>
{{ end }}
