.accordions {
	margin-bottom: 2rem;
	
  .container {
    display: flex;
    justify-content: space-around;

    .accordion {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      padding-right: 1rem;

      &:last-child {
        padding-left: 1rem;
      }
    }

    details {
      border: black solid 1px;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.15s background linear;

      &:hover,
      &:focus {
        background: $gray;
        color: white;
			}
			
      summary {
        border: black solid 1px;
        padding-left: 1rem;
      }

      p {
				cursor: auto;
				border-radius: 4px;
				left: 0;
				margin: auto;
				padding: 1rem 0;
				right: 0;
				top: 35px;
        width: 80%;
			}
			
      a {
        background-color: #f09b32;
        border-radius: 99px;
        color: #000;
				display: flex;
				justify-content: end;
        margin: .5rem;
        margin-left: auto;
        padding: .65rem .75rem;
        text-align: center;
        width: 12%;
      }
    }

    details[open] {
      summary {
        background-color: $teal;
        color: #000;
      }
			
			p {
				animation: animateDown 0.2s linear forwards;
			}

			@keyframes animateDown {
				0% {
					opacity: 0;
					transform: translatey(-15px);
				}
				100% {
					opacity: 1;
					transform: translatey(0);
				}
			}
    }
  }
}

@media (max-width: 768px) {
  .accordions {
    .container {
      flex-direction: column;
      width: 95vw;
    }
  }
}