.hexagon {
  color: #000;
  height: 55px;
  margin: 2.25rem;
  position: relative;
  text-align: center;
  transform: scale(1.2);
  width: 100px;
}

.hexagon,
.hexagon:before,
.hexagon:after {
  background: $teal;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
  z-index: -2000;
}

.hexagon:before {
  top: -29px;
}

.hexagon:after {
  top: 27px;
}

.hexagon span {
  align-items: center;
  background: $teal;
  display: flex;
  justify-content: center;
  height: 55px;
  left: 0;
  line-height: 1.2rem;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 1;
}

.light-orange-hexagon,
.light-orange-hexagon span,
.light-orange-hexagon::before,
.light-orange-hexagon::after {
  background-color: $orange;
}

.dark-orange-hexagon,
.dark-orange-hexagon span,
.dark-orange-hexagon::before,
.dark-orange-hexagon::after {
  background-color: $dark-orange;
}

.blue-hexagon,
.blue-hexagon span,
.blue-hexagon::before,
.blue-hexagon::after {
  background-color: $light-blue;
}

.activities {
  margin-bottom: 5rem;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .honeycomb {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 320px;
      justify-content: center;
      width: 100%;

      .row {
        display: flex;
        height: 130px;
        justify-content: center;
        width: 95%;

        &:first-child {
          margin-top: 3rem;
        }

        &:nth-child(even) {
          margin-left: 17%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .activities {
    .container {
      .honeycomb {
        .row {
          .hexagon {
            transform: unset;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 847px) and (min-width: 768px) {
  .activities {
    .container {
      .honeycomb {
        .row {
          .hexagon {
            transform: unset;

            &:first-child {
              margin-left: 0;
            }
          }

          &:last-child {
            margin-left: 2%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .activities {
    .container {
      .honeycomb {
        flex-direction: row;
        height: unset;
        
        .row {
          align-items: center;
          flex-direction: column;
          height: unset;
          margin-top: 2rem;
          
          .hexagon {
            transform: unset;
            margin-bottom: 3rem;

            &:first-child {
              margin-left: 1.5rem ;
            }
          }

          &:last-child {
            margin-left: 0%;
          }
        }
      }
    }
  }
}