.data-resources {
  background-color: $dark-orange;
}

.directory {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem 0;

  h1 {
    color: $blue;
    font-size: 2rem;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    h2 {
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
}