
.section-cards {
	display: flex;
	justify-content: center;
	margin: 3rem 0; 

	.card-headings {
		display: grid;
		grid-gap: 3rem;
		grid-template-columns: repeat(3, 1fr);
		
		h2 {
			font-size: 2.5rem;
			font-weight: 700;
			text-align: center;
		}
	}

	.cards-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 3rem;
		padding: 0;

		.card {
			align-items: center;
			background-color: $white;
			color: $darker-gray;
			display: flex;
			flex-direction: column;	
			list-style: none;
			margin-bottom: 1rem;
			padding: 1rem;
		}
	}

	.icon-container {
		display: flex;
		justify-content: center;

		.badges {
			max-width: 100px;
			width: 100%;
		}
	}

	.text-container {
		max-width: 275px;	
	}

	.workshops-and-clinics-container {
		.poster {
			min-height: 100px;
			max-width: 60px;
			width: 100%;
		}
	}
}



@media (max-width: 992px) {
	.section-cards {
		.card-headings {
			grid-template-columns: repeat(2, 1fr);
		}

		.cards-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (max-width: 768px) {
	.section-cards {
		.card-headings {
			grid-template-columns: repeat(1, 1fr);
		}

		.cards-container {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

