// Used in Workshop's Partial and Workshop's List-Page Partial
.workshop-links {
  background-color: $orange;
  border-radius: 99px;
  color: #fff;
  padding: 0.65rem 0.75rem;
}

//Styles for the Workshops List Page

//Styles for Workshops Single Pages.
.single-workshop-page {
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .workshop-content {
      width: 70%;
    }
  }
}
