// Used in Workshop's Partial and Workshop's List-Page Partial
.workshop-links {
  background-color: $orange;
  border-radius: 99px;
  color: #fff;
  padding: 0.65rem 0.75rem;
}

//Styles for the Workshops List Page
.workshops-list-page {
  .table-head {
    tr {
      background-color: $teal;
    }

  }

  .table-body {
    tr {
      background-color: $light-green;
      color: $darker-gray;
      // display: flex;

      td {
        margin: .75rem;
      }
    }
  }

  .dataTable-bottom {
    margin-top: 2rem;
  }
}

.lab-reports-section {
  background-color: $orange;

  h2 {
    padding-top: 3rem;
    color: $blue;
    font-size: 2rem; 
  }

  a {
    margin-left: 5rem;
  }
}
//Styles for Workshops Single Pages.
.single-workshop-page {
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .workshop-content {
      width: 70%;
    }
  }
}
