.footer {
  background-color: $gray;
  color: $white;
  position: relative;
  top: 6rem;

  .container {
    display: flex;
  }

  .footer-logo-link {
    align-items: center;
    display: flex;
    color: white;
    min-width: 150px;
  }

  .wb-logo {
    max-width: 40px;

    .wb-text {
      color: white;
    }
  }

  .footer-nav {
    width: 100%;
  }

  .links-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  li {
    list-style: none;

    a {
      color: $white;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    display: flex;
    justify-content: center;

    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 1rem;
      max-width: unset;
      padding: 0;
      width: 100%;
    }

    .links-list-heading {
      font-size: 0.75rem;
    }

    .links-list-item {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 650px) {
  .footer {
    .container {
      .links-container {
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }

    .links-list-heading {
      font-size: 1rem;
    }

    .links-list-item {
      font-size: 1rem;
    }
  }
}
