.hero {
	align-items: center;
	background-color: $teal;
	display: flex;
	justify-content: center;

	.container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}



@media (max-width: 880px) {
	.hero-with-navbar {
		top: calc(6rem + 23px);
	}
}

@media (max-width: 767px) {
	.hero-with-navbar {
		top: calc(6rem + 3px);
	}
}