// Variables

// Set custom colors
$teal:#3EACAD;
$light-green: #B2CFD2;
$dark-orange:#DF6B00;
$blue:#113056;

$orange:#FCB614;
$light-blue: #2BABE2;
$gray: #606A84;
$darker-gray:#414042;
$white:#fff;
