body {
	box-sizing: border-box;
	color: $white;
	display: flex;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
	font-size:1rem;
	font-weight:400;
	justify-content: space-around;
	line-height:1.5;
	margin:0;
	min-height: 100vh;
	padding: 0;
	text-align:left;
}



h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

// Bug fix for li's that get a list-style of none. 
ul li::before {
	content: "\200B";
}

li {
	list-style: none;
}

.button {
	background-color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding: calc(0.5em - 1px) 1rem;
	text-align: center;
	white-space: nowrap;
}

.home {
	background-color: $blue;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// .with-fixed-navbar {
// 	min-height: calc(100vh - 3.25rem);
// 	top: 178px;
// 	position: relative;	
// }

main {
	flex: 1 0 auto;	
}

.main {
	margin-top: 5rem;
}

.footer {
	flex-shrink: 0;
}

.footer, .navbar {
	background: rgba($color: #fff, $alpha: .3);
	color: $white;
}
  

.img-fluid {
	max-width: 100%;
	height: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1500px;
  }
}
