{{ define "header" }}
<!-- Masthead -->
<header class="hero with-fixed-navbar" role="banner">
	<div class="container">

		<!-- Masthead Avatar Image -->
		<img 
			class="img-fluid" style="width:50%; height:50%" 
			src="img/DataLab_Vertical Stacked.png" alt="Data Lab, The World Bank">
		<!-- Masthead Subheading -->					
		<div class="hero-nav-links font-weight-light mb-0" role="navigation">
			<span><a href="#">{{ .Site.Params.internalCollabLink }}</a></span>  - 
			<span><a href="#">{{ .Site.Params.dataPartnershipsLink }}</a> </span> - 
			<span><a href="#">{{ .Site.Params.staffCapacityBuilding }}</a></span>
		</div>

	</div>
</header>

{{end}}