<!DOCTYPE html>
<html lang="en">
  <head>
		{{- partial "base/head.html" . -}}
	</head>
	<body id="page-top" class="home">
	<div class="hexagon-overlay" aria-hidden="true">
		<img src="{{- .Site.BaseURL -}}/img/hexagon-overlay.png" alt="">
		<img src="{{- .Site.BaseURL -}}/img/hexagon-overlay.png" alt="">
		<img src="{{- .Site.BaseURL -}}/img/hexagon-overlay.png" alt="">
	</div>

	{{- partial "base/navbar.html" . -}}
	
	{{- block "main" . -}}

	{{- end -}}
	{{- partial "base/footer.html" . -}}
	</body>
</html>
