.hexagon {
  height: 55px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: -1000;
}

.hexagon,
.hexagon:before,
.hexagon:after {
  background: $teal;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  transform: rotate(145deg) skew(22.5deg);
  z-index: -2000;
}

.hexagon:before {
  top: -29px;
}

.hexagon:after {
  top: 27px;
}

.hexagon span {
  align-items: center;
  background: $teal;
  display: flex;
  justify-content: center;
  height: 55px;
  left: 0;
  line-height: 1.2rem;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 1;
}

.light-orange-hexagon,
.light-orange-hexagon span,
.light-orange-hexagon::before,
.light-orange-hexagon::after {
  background-color: $orange;
  color: white;
}

.dark-orange-hexagon,
.dark-orange-hexagon span,
.dark-orange-hexagon::before,
.dark-orange-hexagon::after {
  background-color: $dark-orange;
  color: white;
}

.blue-hexagon,
.blue-hexagon span,
.blue-hexagon::before,
.blue-hexagon::after {
  background-color: $light-blue;
  color: white;
}

.activities {
  margin-bottom: 5rem;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;

    .honeycomb {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .row {
        display: flex;
        height: 10vh;
        justify-content: space-around;
        width: 95%;

        &:first-child {
          margin-top: 3rem;
        }

        &:nth-child(even) {
          margin-left: 12vh;
        }
      }
    }
  }
}
