{{- define "accordions" -}}

<section class="accordions">
  <div class="container">
    <div class="accordion" data-accordion="left">
			<div class="accordion-heading">
				<h2>Need data support for your project?</h2>
			</div>
      <details open>
        <summary>
          <h3>Who does what directory</h3>
        </summary>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
          dicta sunt quae fuga natus quia voluptatum quis amet nemo repudiandae?
          Sequi voluptas odio quis exercitationem aut adipisci error omnis
          neque.
        </p>
        <a href="#">Learn More</a>
      </details>
      <details>
        <summary>
          <h3>Find your data lab lead</h3>
        </summary>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
          dicta sunt quae fuga natus quia voluptatum quis amet nemo repudiandae?
          Sequi voluptas odio quis exercitationem aut adipisci error omnis
          neque.
        </p>
        <a href="#">Learn More</a>
      </details>
      <details>
        <summary>
          <h3>Data Corps - the one-stop shop</h3>
        </summary>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
          dicta sunt quae fuga natus quia voluptatum quis amet nemo repudiandae?
          Sequi voluptas odio quis exercitationem aut adipisci error omnis
          neque.
        </p>
        <a href="#">Learn More</a>
      </details>
      <details>
        <summary>
          <h3>University data fellows</h3>
        </summary>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
          dicta sunt quae fuga natus quia voluptatum quis amet nemo repudiandae?
          Sequi voluptas odio quis exercitationem aut adipisci error omnis
          neque.
        </p>
        <a href="#">Learn More</a>
      </details>
    </div>
    <div class="accordion" data-accordion="right">
			<div class="accordion-heading">
				<h2>Want to learn something new?</h2>
			</div>
      <details open>
        <summary>
          <h3>Who does what directory</h3>
        </summary>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat,
          dicta sunt quae fuga natus quia voluptatum quis amet nemo repudiandae?
          Sequi voluptas odio quis exercitationem aut adipisci error omnis
          neque.
        </p>
        <a href="#">Learn More</a>
      </details>
    </div>
  </div>
</section>
{{- end -}}
