{{- define "activities" -}}
<section class="activities">
	<div class="container">
		<h2>Data Lab Activities</h2>
		<div class="honeycomb">
			<div class="row">
				<div class="hexagon light-orange-hexagon empty-hexagon" aria-hidden="true">
					<span></span>
				</div>
				<a class="hexagon light-orange-hexagon" href="{{- .Site.Params.DataLeadsLink -}}">
						<span>{{- .Site.Params.DataLeadsLabel -}}</span>
				</a>
			 	<a class="hexagon dark-orange-hexagon" href="{{- .Site.Params.DataPartnershipsLink -}}">
					<span>Development Data Partnership</span>
				</a>
				<a class="hexagon dark-orange-hexagon" href="{{- .Site.Params.UniversityPartnershipsLink -}}">
					<span>University Data Fellows</span>
				</a>
				<div class="hexagon dark-orange-hexagon empty-hexagon" aria-hidden="true">
					<span></span>
				</div>
				<div class="hexagon blue-hexagon">
					<span>Skill Badges</span>
				</div>
			</div>
			<div class="row">
				<div class="hexagon light-orange-hexagon">
					<span>Data Corps</span>
				</div>
				<a class="hexagon light-orange-hexagon" href="{{- .Site.Params.DataDirectoryLink -}}">
					<span>Data Resources</span>
				</a>
				<div class="hexagon dark-orange-hexagon empty-hexagon" aria-hidden="true">
					<span></span>
				</div>
				<div class="hexagon dark-orange-hexagon">
					<span>UN Focus Point</span>
				</div>
				<a class="hexagon blue-hexagon"  href="{{- .Site.Params.WorkshopsLink -}}">
					<span>Workshops</span>
				</a>
				<a class="hexagon blue-hexagon" href="{{- .Site.Params.WorkshopsLink -}}">
					<span>Training</span>
				</a>
			</div>
		</div>
	</div>
</section>
{{- end -}}