{{- define "directory" -}}
<section class="directory-header">
	<div class="container">
		<h2>Data Resources Directory</h2>
		<div class="data-resources-block">
			<a href="{{ .Site.Params.DataDirectoryLink }}">
				<div class="header-content">
					<img class="data-resources-header-image" src="/img/data-resources-directory/data-resources-p1.png" alt="">
					<h3>I Need To Collect Data</h3>
					<h4>Primary and Secondary Data Collection methods and tools</h4>
				</div>
				<!-- <div class="data-resources-header-logos">
					<div class="data-lab-logo-container">
						<img src="{{- .Site.BaseURL -}}/img/" alt="">
					</div>
				</div> -->
				<div class="header-content column-reverse">
					<img class="data-resources-header-image" src="/img/data-resources-directory/data-resources-p2.png" alt="">
					<h3>I Need to Manage Data</h3>
					<h4>Licensing, privacy, storage and sharing</h4>
				</div>
				<div class="header-content">
					<img class="data-resources-header-image" src="/img/data-resources-directory/data-resources-p3.png" alt="">
					<h3>I Need Insights from Data</h3>
					<h4>Data science, app development, sector advisory</h4>
				</div>
			</a>
		</div>
	</div>
</section>
{{- end -}}