{{- define "directory" -}}
<section id="directory" class="directory">
	<div class="container">
	  <h2>{{- .Site.Params.DataDirectoryLabel -}}</h2>
	  <p>Solutions for governments that combine the best of World Bank economics, data science, geospatial, data engineering, IT, domain expertise, and policy resources are difficult to realize, because the necessary combined resources are scattered throughout the organization, as illustrated in this operations-focused data services map.</p>
	  <img src="{{- .Site.BaseURL -}}/img/map.jpg" width="780" height="500" />
	  <h3>GET HELP FINDING THE DATA RESOURCES YOU NEED</h3>
	  <p>
		Feel overwhelmed? Don’t navigate Bank resources alone! Managers and directors throughout the World Bank have nominated Data Lab Leads to help YOU find the colleagues and internal resources you need to get your project off the ground.  Find your Lab Lead HERE. 
	  </p>
	  <h3>PLACEHOLDER FOR FUTURE PROGRAMS, LIKE DATA CORPS</h3>
	  <p>
		Feel overwhelmed? Don’t navigate Bank resources alone! Managers and directors throughout the World Bank have nominated Data Lab Leads to help YOU find the colleagues and internal resources you need to get your project off the ground.  Find your Lab Lead HERE. 
	  </p>
	</div>
  </section>
{{- end -}}