{{ define "header" }}
<header class="hero" role="banner">
	<div class="container">
		<p class="data-lab-intro-text"><strong>The World Bank Data Lab is a Community of.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
		<a class="call-to-action-link" href="">Ask us anything!</a>
	</div>
</header>

{{- end -}}