{{- define "lab-reports" -}}
<section class="lab-reports-section">
	<div class="container">
    <h2>Download Lab Reports</h2>
     {{ with .Site.GetPage "section" "lab-reports"}}

      {{- range .Pages -}}
      <h3>{{ .Page.Title }}</h3>
      <div class="lab-reports-container">
        <a href="{{- .Site.BaseURL -}}/{{- .Page.Params.File_path | safeHTML -}}">
          <img src="{{- .Site.BaseURL -}}/img/data-lab-reports.png" alt="">
        </a>
      </div>
      {{- end -}}
    {{- end -}}
	</div>
</section>
{{- end -}}