{{ define "lab-stats" }}
<section class="wb-stats">
	<ul class="stats-container">
		<li class="stats">
			<h2 class="stat-titles">Lab Leads</h2>
			
			<span>{{ .Site.Data.lab_stats.labLeadsCount }}</span>
		</li>
		<li class="stats">
			<h2 class="stat-titles">Events</h2>
			<span>{{ .Site.Data.lab_stats.peopleTrainedCount }}</span>
		</li>
		<li class="stats">
			<h2 class="stat-titles">Partners</h2>
			<span>{{ .Site.Data.lab_stats.connectionsCount }}</span>
		</li>
		<li class="stats">
			<h2 class="stat-titles">Projects</h2>
			<span>{{ .Site.Data.lab_stats.projectsCount }}</span>
		</li>
	</ul>
</section>

{{ end }}