{{ define "workshops" }}
<section class="workshops">
  <div class="container">
    <div class="workshops-heading">
      <h2>{{- .Site.Params.WorkshopsSectionLabel -}}</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptas aut delectus numquam iure
        itaque, dignissimos consequuntur perspiciatis at ipsa accusamus sapiente minima tempora commodi
        laudantium! Et aliquam vitae beatae?
      </p>
    </div>
    <div class="workshops-list-page-container">
      <table id="workshops-and-clinics-table">
        <thead class="table-head">
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Materials</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {{- range $key, $taxonomy := .Site.Taxonomies.workshop_types -}}
          {{- range $taxonomy -}}
          <tr>
              <td class="date">{{- .Params.Scheduled_date -}}</td>
              <td>{{ if .Params.Workshop_types }}{{- delimit .Params.Workshop_types ", " | humanize -}}{{- end -}}</td>
              <td>{{- .Content -}}</td>
              <td>
                {{ if .Params.Materials_paths }}

                  {{- range .Params.Materials_paths -}}
                  <a href="">{{  . }}</a>
                  {{- end -}}
                {{- end -}}
              </td>
            </tr>
            {{- end -}}
          {{- end -}}
        </tbody>
      </table>
    </div>
  </div>
</section>
{{- end -}}