{{ define "workshops" }}
<section class="workshops">
  <div class="container">
    <div class="workshops-heading">
      <h2>{{- .Site.Params.WorkshopsSectionLabel -}}</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptas aut delectus numquam iure
        itaque, dignissimos consequuntur perspiciatis at ipsa accusamus sapiente minima tempora commodi
        laudantium! Et aliquam vitae beatae?
      </p>
    </div>
    <div class="workshops-list-page-container">
      <table id="workshops-and-clinics-table">
        <thead class="table-head">
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Materials</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr>
            <td>Thurs, March, 24, 2021</td>
            <td>Data Science</td>
            <td>Amazon Web Services (AWS) training is part of a series of events organized by Development Data
              Partnership for IT staff and data scientists. The course covered new Amazon tools to make it easier and
              faster to organize and analyze very large, unstructured data. Training materials include self-paced,
              step-by-step hands-on lab activities. To access lab materials, please request permission from
              datalab@worldbank.org to access via
              GitHub.</td>
            <td>Aws Credentials</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{{ end }}