<!-- Copyright Section -->
<footer class="footer">
  <div class="container">
      <a id="#scroll-to-footer" class="footer-logo-link" href="#">
        <img
          class="wb-logo"
          src="{{- .Site.BaseURL -}}/img/DataLab_Symbol.png"
          alt="{{- .Site.Title -}}"
        />
        <span class="wb-text">WB Data Lab</span>
      </a>
      <nav class="footer-nav">
        <div class="links-container">
          <ul>
						<li class="links-list-heading" role="heading">
							<h2>{{ .Site.Params.internalCollabLinkTitle }}</h2>
						</li>
            <li class="links-list-item" role="link">
              <a href="{{- .Site.Params.DataLeadsLink -}}">{{- .Site.Params.DataLeadsLabel -}}</a>
            </li>
            <li class="links-list-item" role="link">
              <a href="#">Data Corps</a>
            </li>
          </ul>
          <ul>
						<li class="links-list-heading" role="heading">
							<h2>{{ .Site.Params.partnershipsLinkTitle }}</h2>
						</li>
            <li class="links-list-item" role="link">
              <a href="#">Development Data Partnership</a>
            </li>
            <li class="links-list-item" role="link">
              <a href="{{- .Site.Params.UniversityPartnershipsLink -}}">University Data Fellows</a>
            </li>
            <li class="links-list-item" role="link">
              <a href="#">UN Data Initiatives Focal Point</a>
            </li>
          </ul>
          <ul>
						<li class="links-list-heading" role="heading">
							<h2>{{ .Site.Params.staffCapacityLinkTitle }}</h2>
						</li>
            <li class="links-list-item" role="link">
              <a href="{{- .Site.Params.WorkshopsLink -}}">Workshops & Training</a>
            </li>
            <li class="links-list-item" role="link">
              <a href="#">Skill Badge System</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- <small>Copyright &copy; World Bank Data Lab 2020 |</small> -->
      <!-- <a href="http://www.worldbank.org/en/about/legal" target="_blank"> Legal</a> -->
    </div>
</footer>
