{{/*  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132319281-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-132319281-2');
</script>  */}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>{{ .Site.Title }}</title>

<!-- Custom fonts for this theme -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

{{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- World Bank OIS Requirements -->
{{/*  <meta http-equiv="Content-Security-Policy"
  content="script-src 'self' https://www.google-analytics.com https://www.googletagmanager.com/  https://www.google-analytics.com https://stats.g.doubleclick.net 'unsafe-inline' ; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://www.google-analytics.com/ ; style-src 'self' https://stackpath.bootstrapcdn.com  https://fonts.googleapis.com/ 'unsafe-inline' ;">

<meta name="referrer" content="no-referrer" />  */}}

<!-- Global site tag (gtag.js) - Google Analytics -->
{{/*
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132319281-1"></script>

*/}}

<script type="module" src="/js/functions/mobileMenu.js" defer></script>

{{- if eq .Page.Kind "home" -}}
  <link rel="stylesheet" href="/vendor/gliderJS/glider.min.css"defer>
  <script src="/vendor/gliderJS/glider.min.js" defer></script>
  <script type="module" src="/js/main/main.js" defer></script>
{{- end -}}

{{- if eq .Page.Section "workshops" -}}
  <script type="module" src="/js/functions/workshop-page-filters.js"defer></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" defer></script>
  <script src="/vendor/isotope/fit-columns.js" defer></script>
  <script src="/vendor/isotope/cells-by-row.js" defer></script>
{{- end -}}

{{- if eq .Page.Section "data-resources-directory" -}}
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" defer></script>
  <script type="module" src="/js/functions/data-resources-directory.js" defer></script>
  <script src="/vendor/isotope/fit-columns.js" defer></script>
  <script src="/vendor/isotope/cells-by-row.js" defer></script>
{{- end -}}