<nav id="mainNav" class="navbar fixed" role="navigation" aria-label="main navigation">
	<div class="nav-container">
		<div class="mobile-layout">
				<a class="navbar-item" href="{{ .Site.BaseURL }}"> 
					<span class="wb-top-text">Data Lab</span> 
					<span class="wb-bottom-text">The World Bank</span>
				</a>
			<div class="navbar-end navbar-menu">
				<div class="nav-links">
					<a href="{{- .Site.Params.DataResourcesLink -}}">{{- .Site.Params.DataResourcesLinkTitle -}}</a> 
					<a href="#">{{ .Site.Params.ExternalPartnershipsLinkTitle }}</a> 
					<a href="#">{{ .Site.Params.DigitalLiteracyLinkTitle }}</a> 
				</div>
			</div>
		</div>
		<button class="burger-menu" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		<span aria-hidden="true" class="bars"></span>
	</button>
	</div>
</nav>
