<section class="directory">
	<div class="container">
		<img src="{{- .Site.BaseURL -}}img/map.jpg" width="780" height="500">
		<div class="section-column">
			<h2>I Need Insights From My Data</h2>
			<div class="row">
			{{- range $.Site.Data.insights }}
					<div class="column">
					<div class="team-headers">
						<h3>{{ .title }}</h3>
						<p>{{- .short_description -}}</p>
					</div>
					<div class="teams">
						{{ range  .teams }}
							<div class="hexagon team-hexagon">
								<h4>{{ .name  }}</h4>
								<hr>
								<p>{{ .description }}</p>
							</div>
						{{- end -}}
					</div>
					</div>
			{{- end -}}
			</div>
		</div>
	</div>
</section>