<section class="data-corps">
  <div class="container">
    <div class="data-corps-hero">
      <div class="info-container">
        <h1>{{- .Site.Params.DataCorpsLabel }}</h1>
        <p class="data-corps-description">
          Dreaming of a one-stop shop for all our data
          acquisition and analytical needs? Hoping to apply
          your techie skills to a range of projects? SOON!
        </p>
      </div>
      <img class="data-corps-badge" src="{{- .Site.Params.BaseURL -}}/img/data-corps/data-corps-badge.svg"
        alt="Data Corps Data Lab Badge">
    </div>
  </div>
</section>