<section class="data-resources-directory-page">
  <div class="container">
    <h1>{{- .Site.Params.DataDirectoryPageLabel -}}</h1>
    <p>Solutions for governments that combine the best of World Bank economics, data science, geospatial, data engineering, IT, domain expertise, and policy resources are difficult to realize, because the necessary combined resources are scattered throughout the organization, as illustrated in this operations-focused data services map.</p>
    <img src="{{- .Site.BaseURL -}}/img/map.jpg" width="780" height="500" alt="World Bank Data Resources" />
    <iframe frameborder="0" scrolling="no" src="https://worldbankgroup-my.sharepoint.com/personal/mpecherskiy_worldbank_org/_layouts/15/Doc.aspx?sourcedoc={1902aa15-d278-4a4f-af16-130c841dcb3e}&action=embedview&AllowTyping=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
  </div>
</section>
