<section class="data-leads">
	<div class="container">
		<h1>{{- .Site.Params.DataLeadsLabel }}</h1>
		<div class="info-container">
			<p class="data-leads-description">Data Lab Leads are director-nominated focal points for teams across all VPUs, tasked with linking their colleagues who are seeking data-related resources to the other Lab Leads. Through this system, teams can be connected to the data resources they need, while avoiding the need to set up a centralized “help desk”.  Lab Leads also contribute towards Lab program design and implementation, and they meet monthly to share and learn best practices.
				Find your Lab Lead below. Don’t see a Lead for your team? Let us know: <a href="mailto:datalab@worldbank.org!"> datalab@worldbank.org!</a>
			</p>
			<img class="data-leads-badge" src="{{- .Site.Params.BaseURL -}}/img/section-cards/data-lead.png" alt="">
		</div>
		<div class="lab-leads-directory">
			<h2>Lab Leads Directory</h2>
			<iframe frameborder="0" scrolling="no" src="https://worldbankgroup-my.sharepoint.com/personal/mpecherskiy_worldbank_org/_layouts/15/Doc.aspx?sourcedoc={1902aa15-d278-4a4f-af16-130c841dcb3e}&action=embedview&AllowTyping=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
			</div> 
			<div class="about-data-leads">
				<img class="about-leads"src="{{- .Site.BaseURL -}}/img/about-data-leads.png" alt="About Data Leads">
			</div>
	</div>
</section>

