<section class="data-leads-teams">
	<div class="container">
		<div class="logo-grid">
		{{- range sort .Site.Pages ".Site.Pages" "desc" -}}
			{{ if (and (eq .Type "teams") (.Params.Image_path))  }}
			<div class="team-info">
				<div class="logo-container">
					<img class="team-logo" src="{{- .Site.BaseURL -}}/{{- .Params.Image_path -}}" alt="{{- .Params.Title -}} Logo">
				</div>
				<div class="secondary-info">
					<h2>{{- .Params.Title -}}</h2>
					<h3>Lead: {{- .Params.Team_lead -}}</h3>
					<div class="social-links"></div>
				</div>
			</div>
			{{- end -}}
		{{- end -}}
		</div>
	</div>
</section>