<section class="data-fellows">
	<div class="container">
	  <div class="data-fellows-hero">
		<div class="info-container">
		  <h1>{{- .Site.Params.UniversityDataFellowsLabel }}</h1>
		  <p class="data-fellows-description">
			Need a free data science student or team to support
			your basic data needs? Leverage our university
			partnership program.
		  </p>
		  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
			diam nonummy nibh euismod tincidunt ut laoreet dolore
			magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
			quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
			aliquip ex ea commodo consequat. Duis autem vel eum iriure
			dolor in hendrerit in vulputate velit esse molestie consequat,
			vel illum dolore eu feugiat nulla facilisis at vero eros et
			accumsan et iusto odio dignissim qui blandit praesent
			luptatum zzril delenit augue duis dolore te feugait nulla
			facilisi.diam nonummy nibh euismod tincidunt ut laoreet
			dolore magna aliquam erat volutpat. Ut wisi enim ad minim
			veniam, quis nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo consequat.
		  </p>
		  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
			diam nonummy nibh euismod tincidunt ut laoreet dolore
			magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
			quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
			luptatum zzril delenit augue duis dolore te feugait nulla
			facilisi.
		  </p>
		</div>
		<img class="data-fellows-badge" src="{{- .Site.Params.BaseURL -}}/img/data-fellows/data-fellows-badge.svg"
		  alt="University Data Fellows Data Lab Badge">
	  </div>
	</div>
	<div class="about-data-fellows">
	  <h2 class="about-fellows-heading">Box</h2>
	  <p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
		nonummy nibh euismod tincidunt ut laoreet dolore magna
		aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
		exerci tation ullamcorper suscipit lobortis nisl ut luptatum zzril
		delenit augue duis dolore te feugait nulla facilisi
	  </p>
	</div>
  </section>