<section class="workshops">
	<div class="container">
		<div class="workshops-heading">
			<h1>{{- .Site.Params.WorkshopsSectionLabel -}}</h1>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptas aut delectus numquam iure 
					itaque, dignissimos consequuntur perspiciatis at ipsa accusamus sapiente minima tempora commodi 
					laudantium! Et aliquam vitae beatae?
			</p>
			<div class="filters">
				<select id="filter-date" class="filter-select" value-group="date">
					<option value="upcoming">Upcoming</option>
					<option value="past">Past</option>
				</select>
				<select id="filter-workshop-type" class="filter-select" value-group="workshop-type">
					{{ range $name, $taxonomy := .Site.Taxonomies.workshop_types }}
						<option value ="{{ $name | urlize }}"> {{ replace $name "-" " " | title }}</option>
					{{ end }}
				</select>
			</div>
		</div>
		<div class="workshops-container">
			<ul class="card-grid">
			{{- range $key, $taxonomy := .Site.Taxonomies.workshop_types -}}
				{{- range $taxonomy -}}
				<li class="card 
						{{ if .Params.Workshop_types }}{{ delimit .Params.workshop_types "," | replaceRE " " "-" | replaceRE "\\+" " " | lower }}{{ end }}">
					<h2>{{- delimit .Params.Workshop_types ", " }}: {{ .Title -}}</h2>
					<h3>Scheduled: <small class="date">{{- .Params.scheduled_date -}}</small></h3>
					<hr class="hr-divider">
					<div class="content">
						<p>{{- .Content -}}</p>
						<a href="{{- .Site.BaseURL -}}">Read More</a>
					</div>
				</li>
				{{- end -}}
			{{- end -}}
			</ul>
		</div>
	</div>
</section>