<section class="workshops-page-breadcrumbs">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a class="" href="{{- .Site.Home.Permalink -}}"
						aria-current="page">Home</a></li>
				{{- if not .Parent.IsHome -}}
				<li class="breadcrumb-item"><a class="" href="{{- .Parent.Permalink -}}"
						aria-current="page">{{- .Parent.Title -}}</a></li>
				{{- end -}}
				<li class="breadcrumb-item"><a class="current-page" href="{{- .Permalink -}}"
						aria-current="page">{{- .Page.Section | humanize -}}</a></li>
			</ol>
		</nav>
	</div>
</section>
<section class="workshops-list-page">
	<div class="container">
		<div class="workshops-heading">
			<h1>{{- .Site.Params.WorkshopsSectionLabel -}}</h1>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam voluptas aut delectus numquam iure 
					itaque, dignissimos consequuntur perspiciatis at ipsa accusamus sapiente minima tempora commodi 
					laudantium! Et aliquam vitae beatae?
			</p>
			<div class="filters">
				<select class="filter-select" value-group="date">
					<option value=".upcoming">Upcoming</option>
					<option value=".past">Past</option>
				</select>
				<select class="filter-select" value-group="workshop-type">
					{{ range $name, $taxonomy := .Site.Taxonomies.workshop_types }}
						<option value=".{{ $name | urlize }}"> {{ replace $name "-" " " | title }}</option>
					{{ end }}
				</select>
			</div>
		</div>
		<div class="workshops-list-page-container">
			<div class="container">
				<ul class="card-grid">
				{{- range $key, $taxonomy := .Site.Taxonomies.workshop_types -}}
					{{- range $taxonomy -}}
					<li class="grid-card
							{{ if .Params.Workshop_types }}{{ delimit .Params.workshop_types ", " | replaceRE " " "-" | replaceRE "\\+" " " | lower }}{{ end }}">
						<div class="card">
							<h3>
								<a href="{{ .Permalink }}">{{- delimit .Params.Workshop_types ", " }}: {{ .Title -}}</a>
							</h3>
							<h4>Scheduled: <small class="date">{{- .Params.scheduled_date -}}</small></h4>
							<hr class="hr-divider">
							<div class="content">
								<p>{{- .Content -}}</p>
								<a class="workshop-links" href="{{ .Permalink }}">Read More</a>
							</div>
						</div>
					</li>
					{{- end -}}
				{{- end -}}
				</ul>
			</div>
		</div>
	</div>
</section>